<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h1 class="mb-2 text-black">Edit your listing</h1>
                <form method="post" action="/listings/<%=listing._id %>?_method=PUT">
                    <div class="text-black ">
                        <label for="title" class="form-label mb-1">Title</label>
                        <input type="text" name="listing[title]" required value="<%=listing.title %>" class="form-control">
                        <!--listing[title] ye variablename[title] hai-->
                    </div>
                    <div class="mt-2 text-black">
                        <label for="Description" class="form-label  mb-1">Description</label>
                        <textarea name="listing[description]" required class="form-control"><%=listing.description %></textarea>
                    </div>
                    <div class="mt-2 text-black">
                        <label for="image" class="form-label mb-1">Image/URL</label>
                        <input type="text" name="listing[image]" required value="<%=listing.image%>"
                            class="form-control"><!--listing[image.url]-->

                    </div>
                    <div class="row ">
                        <div class=" mt-2 col-md-4 text-black">
                            <label for="price" class="form-label mb-1">Price</label>
                            <input type="number" name="listing[price]" required value="<%=listing.price %>" class="form-control">
                        </div>
                        <div class="mt-2 col-md-8 text-black">
                            <label for="country" class="form-label mb-1">Country</label>
                            <input type="text" name="listing[country]" required value="<%=listing.country %>"
                                class="form-control">
                        </div>
                    </div>

                    <div class="mt-2 text-black">
                        <label for="location" class="form-label mb-1">location</label>
                        <input type="text" name="listing[location]" required value="<%=listing.location %>" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-success add-btn mb-3">edit</button>
                </form>
            </div>
        </div>
    </body>