<% layout("/layouts/boilerplate.ejs") %>

<div class="show-wrapper d-flex justify-content-center align-items-center">
    <div class="show-card card p-4">
        <h1 class="mb-3 text-center">Listing details</h1>

        <div class="text-center mb-3">
            <img src="<%= listing.image.url %>" alt="listing image" class="show-img img-fluid rounded"  style="height: 17rem;"/>
        </div>

        <ul class="list-unstyled mb-3">
            <li class="h4 mb-2"><%= listing.title %></li>
            <li class="mb-2"><%= listing.description %></li>
            <li class="mb-2">Price:&nbsp;&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
            <li class="mb-2">Location:&nbsp;<%= listing.location %></li>
            <li class="mb-2">Country:&nbsp;<%= listing.country %></li>
        </ul>

        <div class="d-flex  gap-4 btns">
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-outline-primary ">Edit</a>
            <form action="/listings/<%=listing._id %>?_method=DELETE" method="post" class="m-0">
                <button class="btn btn-danger ">Delete</button>
            </form>
        </div>
    </div>
</div>