<% layout("/layouts/boilerplate.ejs") %>

    <div class="show-wrapper d-flex justify-content-center align-items-center">
        <div class="show-card card p-4">
            <h2 class="mb-3 text-center text-black">
                <%= listing.title %>
            </h2>
            <div class="mb-0">
                <img src="<%= listing.image %>" alt="listing image" class="show-img img-fluid rounded"
                    style="height: 17rem;" />
                <p> Owned by :&nbsp;&nbsp;<i class="text-success">
                        <%= listing.owner.username %>
                    </i></p>
            </div>
            <ul class="list-unstyled text-black">
                <li class="mb-1">
                    <%= listing.description %>
                </li>
                <li class="mb-2 "><i>Price:&nbsp;&#8377;<%= listing.price %></i>
                </li>
                <li class="mb-2 "><i>Location:&nbsp;<%= listing.location %></i>
                </li>
                <li class="mb-2 "><i>Country:&nbsp;<%= listing.country %></i>
                </li>
            </ul>
            <div class="d-flex  gap-4 btns">
                <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-outline-primary ">Edit</a>
                    <form action="/listings/<%=listing._id %>?_method=DELETE" method="post" class="m-0">
                        <button class="btn btn-danger ">Delete</button>
                    </form>
                    <% } %>
            </div>

            <%if(currUser){%>
                <hr>
                <h4 class="text-black">Add Review</h4>
                <div class="m-2">
                    <form action="/listings/<%=listing._id%>/reviews" method="post" novalidate
                        class="needs-validation text-black">
                        <div >
                       <label for="no-rate" class="mb-2">Give Rating..</label>
                        <fieldset class="starability-slot ">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                         
                            <label for="comment" class="form-label mt-0">Comment</label>
                            <textarea class="form-control w-100" name="review[comment]" id="comment" rows="2" cols="50"
                                required placeholder="Comments..."></textarea>
                            <div class="invalid-feedback">Enter comments for listing</div>
                        </div>
                        <br>
                        <button class=" btn btn-outline-dark ">submit</button>
                    </form>
                </div>
                <%}%>
                    <hr>
                    <h5 class="text-black">All Reviews</h5>
                    <div class="row ms-1 m-2 text-black">
                        <% for(let review of listing.reviews) { %>
                            <div class="col-md-6 mb-3">
                                <div class="card h-100 border shadow-sm">
                                    <div class="card-body d-flex flex-column ms-3">
                                        <h6 class="card-title ">@<%= review.author.username %>
                                        </h6>
                                        <div style="font-size: 0.9rem;">
                                            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                                        </div>
                                        <p>Comment: <%= review.comment %>
                                        </p>

                                        <div class="mt-0">
                                            <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                                <form
                                                    action="/listings/<%= listing._id %>/reviews/<%= review._id %>/delete"
                                                    method="GET">
                                                    <button class="btn btn-sm btn-dark">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
        </div>
    </div>